@charset="utf-8";
@font-face { font-family: 'S-CoreDream-3Light'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); font-weight: normal; font-style: normal; }
.daum{color: #e73d3d;}



.content{width: calc(100% - 80px); height: auto; background-color: #f1f1f1; position: absolute; right: 0;}

.day-webtoon-wrap{width: 96%; height: auto; margin: 0 auto;}
.day-webtoon{width: 100%; height: 130px; margin: 20px 0;}
.day{width: 130px; height: 130px; float: left; background-color: #fff; box-shadow: 0 3px 0 #ccc; color: #000; font-family: 'S-CoreDream-3Light'; font-weight: bold; text-align: center; line-height: 130px; font-size: 1.5rem;}
.day-webtoon:hover .day{background-color: #e73d3d; color: #fff;}
.webtoon-cover{width: calc(100% - 130px); height: 100%; float: left;}
.webtoon-wrap{width: auto; height: 100%;}
.webtoon{width: 100px; height: 100px; float: left;}

.card-box-wrap{width: 96%; margin: 0 auto; height: 740px;}
.card-box{width: 23.5%; height: 350px; margin-right: 2%; margin-bottom: 20px; float: left; background-color: #999; box-shadow: 5px 5px 0 #a0a0a0; cursor: pointer;}
.card-box:nth-child(4), .card-box:last-child{margin-right: 0;}
.card-box:hover{box-shadow: 10px 10px 0 #a0a0a0;}
